.button {
  border: 1px solid;
  width: 100%;
  padding: 0.73rem 0;
  font-size: 0.81rem;
  border-radius: 3px;
  background-color: #f4d486;
  background-image: linear-gradient(to bottom, #f4d486, #f0bf45);
}
