.tooltip {
  position: absolute;
  bottom: 130%;
  right: -10%;
  width: 200%;
  background-color: #fff;
  border-radius: 3px;
  padding: 1.3em;
  box-shadow: 0 0.1em 0.4em 0 rgba(0, 0, 0, 0.4);

  &::before {
    content: '';
    position: absolute;
    bottom: -0.8em;
    right: 40%;
    width: 0.8em;
    border-right: 1.2em solid transparent;
    border-left: 1.2em solid transparent;
    border-top: 0.8em solid red;
  }

  &__close {
    position: absolute;
    right: 1.3em;
    cursor: pointer;
  }
}
