$border-color: #dddddd;

.container {
  font-size: 0.8rem;
  padding: 1.3em;
  border: 1px solid $border-color;
  border-radius: 3px;
  width: 15.8rem;

  * + * {
    margin-top: 0.85em;
  }
}

.currency {
  font-size: 1.2rem;
  color: $amzn-price;
}

.inStock {
  font-size: 1rem;
  font-weight: normal;
  color: $amzn-green;
}

.price {
  font-weight: normal;
  color: $amzn-price;
}
