$modal-position: fixed;

@mixin position-full() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: $modal-position;
  width: 50vw;

  * {
    @include z-index(modal-content);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.4em; // default height / width -- allow user modification
    width: 1.4em;
  }

  // expand modal content to the height / width of the modal container
  &__content {
    position: absolute;
    @include position-full;
  }

  &::after {
    content: '';
    position: $modal-position;
    background-color: rgba(0, 0, 0, 0.71);
    @include z-index(modal);
    @include position-full;
  }
}
