@mixin icon-placement() {
  top: 2px;
  left: 2px;
  height: 25px;
  width: 25px;
  background-image: url('https://s3.us-east-2.amazonaws.com/sjm-pokemon/amazonsprite.png');
}

.cart {
  background-color: $amzn-one;
  cursor: pointer;

  &:hover {
    background-color: $amzn-two;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    @include icon-placement;
    // pixel units taken from amazon site...
    background-position: -35px -5px;
  }

  span {
    position: relative;
    left: 0.2rem;
  }
}

.buy {
  background-color: $amzn-three;
  cursor: pointer;

  &__icon {
    position: absolute;
    display: inline-block;
    // pixel units taken from amazon site...
    @include icon-placement;
    background-position: -35px -60px;
  }

  span {
    position: relative;
    left: 0.2rem;
  }
}
