.protection {
  &__description {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 3px;
    padding: 4.3em 1.3em 1.3em 1.3em;
    background-color: $white-primary;
    overflow: hidden;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 1.3em;
    background-color: #f1f1f1;
    z-index: 200;
  }

  &__left {
    flex: 3;
  }

  &__right {
    flex: 2;
    padding: 1.3em;

    * + * {
      margin-top: 1.3em;
    }
  }

  &__buttons {
    padding: 1.3em;
    background-color: #f1f1f1;
  }
}
