.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
  padding: 1.3em;
}

.sidebar {
  grid-area: sidebar;
  padding: 1.3em;
}

.chatWindow {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  border-radius: 3px;
  background-color: #E2E2E2;  
  // overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
}

.settings {
  padding: .8em 1.2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #5E5E7E;
  color: #fff;
}

.option {
  display: inline-block;

  &:not(:last-child) {
    margin-right: .8em;
  }
}

.messages {
  max-height: 15em;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  font-size: .85rem;
  padding: .8rem .75rem;
  background-color: #fff;
  color: #677989;

  &:not(:last-child) {
    margin-bottom: 1px;
  }

  &:hover {
    background-color: #EFEFEF;
  }

  &__avatar {
    height: 3em;
    width: 3em;
    background-color: #a4cab4;
    border-radius: 100%;
    margin-right: .8em;
  }

  &__text {
    h3 {
      font-size: .9rem;
      margin-bottom: .3em;
    }
  }
}
